@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
//$kbd: #344B50;
$kbd: #FF7E30;
$kbd-invert: #fff;
$kbd-bg: #E9E6E6;

$primary: $kbd;
$primary-invert: $kbd-invert;
$body-color: #503934;
$tablet-width: 768px;
$desktop-width: 1024px;
$font-body: 'Lato',
sans-serif;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tabletUp {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}


@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 5px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $kbd !important
  }
}

html {
  font-family: $font-body;
  color: $body-color;
  background-color: $kbd-bg;

  body {
    margin: 0
  }
}

a {
  text-decoration: none;
  color: $body-color;

  &:visited {
    color: $body-color
  }

  &:hover {
    color: $kbd
  }
}

button {
  cursor: pointer;
  font-family: $font-body;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  background-color: $kbd;
  color: $kbd-invert;
  border: 1px solid $kbd;
  padding: 6px 24px;
  border-radius: 6px;
  transition: all .15s ease;

  &:hover {
    background-color: $kbd-invert;
    color: $kbd
  }
}

.container {
  flex: 1 1 0
}

.container.image {
  >div {
    max-height: calc(100vh - 64px);
  }
}

.layout-root {
  margin: 32px;
  justify-content: center;

  @include tabletUp() {
    flex-direction: row;
    display: flex;
    height: calc(100vh - 64px);
  }
}

.layout-child-root {
  flex: 1 1 0;
  margin-top: 16px;

  @include tabletUp() {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section {
    flex: 1 1 0;
  }

  @include tabletUp() {
    margin-top: 0;

    section {
      max-height: 100vh;
      overflow-y: auto;
      margin: 0 16px;
      flex: 1 1 0;
      @include scrollbar()
    }
  }
}

.nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 32px;
  z-index: 1;

  @include tabletUp() {
    align-items: center;

    &.open {
      height: 100%;
      margin: 0px;
      padding-top: 0px;
      background-color: unset;
      top: unset;
    }
  }

  &.open {
    height: calc(100vh - 32px);
    margin: -32px;
    padding-top: 32px;
    background-color: $kbd-bg;
    top: 0;
  }

  &.container {
    text-align: center;
  }

  &_logo {
    padding: 32px;
    max-width: 100px;

    &.scroll {
      max-width: 50px;
      opacity: 1;

      &.hide {
        opacity: 0.1;
        pointer-events: none;
      }
    }

    @include tabletUp() {
      max-width: 130px;
      padding: 0;

      &.scroll {
        max-width: 100px;
        opacity: 1;

        &.hide {
          opacity: 1;
        }
      }
    }
  }

  &_content {
    @include tabletUp() {
      display: flex;
      flex-direction: row;
    }
  }

  &_mobile {
    &_wrapper {
      @include tabletUp() {
        display: none;
      }
    }

    &-menu-icon {
      width: 48px;

      &.hide {
        display: none;
      }
    }

    &-close-icon {
      width: 48px;

      &.hide {
        display: none;
      }
    }
  }

  &_menu {
    display: flex;

    &.hide {
      display: none;
    }

    display: flex;
    width: 100%;

    @include tabletUp() {
      &.hide {
        display: flex;
      }

      max-width: fit-content;
      margin-left: 16px;
      align-items: flex-end;
      text-align: left;
      background-color: unset;
      margin-top: 0;
      background-color: $kbd-bg;
    }

    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-evenly;
      padding: 16px;
      flex-wrap: nowrap;

      @include tabletUp() {
        flex-direction: column;
        padding: 0;
      }
    }
  }

  &_item {
    margin: 8px 0px;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;

    @include tabletUp() {
      margin: 6px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &_item.active {
    color: $kbd;
  }
}

.wear {
  &_caption {
    h2 {
      max-width: 250px;
      font-size: 14px;
      font-style: italic;
      margin: 16px 0;
    }

    p {
      max-width: 250px;
      font-size: 14px;
      margin: 0 0 48px 0;
      text-align: justify;
    }
  }
}

.contact-form {
  form {
    width: 100%;

    .field {
      margin-top: 16px;
      width: 100%;
      max-width: 400px;

      label {
        width: 100%
      }

      .control {
        width: 100%;

        input {
          margin-top: 8px;
          width: 100%;
          box-sizing: border-box;
          font-family: $font-body;
          font-size: 16px;
          padding: 8px;
        }

        textarea {
          margin-top: 8px;
          width: 100%;
          resize: none;
          box-sizing: border-box;
          height: 150px;
          font-family: $font-body;
          font-size: 16px;
          padding: 8px;
        }
      }
    }
  }
}

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;

  li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}

// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width-image {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.navbar-item .icon {
  color: $primary // Override for use of svg's from https://simpleicons.org/
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.navbar-brand .navbar-item.logo {
  padding: 0 1rem;
}

.navbar-item img {
  max-height: none !important;
}

.footer {
  padding-top: 32px;
  display: block;

  @include tabletUp() {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%)
  }

  &_content {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    justify-content: center;
  }

  &_item {
    width: 42px;
    margin: 0 4px;

    @include tabletUp() {
      width: 24px
    }

    img {
      width: 42px;

      @include tabletUp() {
        width: 24px
      }
    }
  }
}