@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700');


$drank-blue: #0B89FF;
$drank-blue-invert: #fff;

$primary: $drank-blue;
$primary-invert: $drank-blue-invert;
$body-color: #000000;
$black: #000000;
$tablet-width: 768px;
$desktop-width: 1024px;
$font-body: 'Roboto',
sans-serif;
$font-accent: 'Noto Serif',
serif;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 5px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $drank-blue !important
  }
}

html {
  font-family: $font-body;

  body {
    margin: 0
  }
}

a {
  text-decoration: none;
  color: $black;

  &:visited {
    color: $black
  }

  &:hover {
    color: $drank-blue
  }
}

button {
  cursor: pointer;
  font-family: $font-accent;
  font-size: 18px;
  background-color: $drank-blue;
  color: $drank-blue-invert;
  border: 1px solid $drank-blue;
  padding: 6px 24px;
  border-radius: 6px;
  transition: all .15s ease;

  &:hover {
    background-color: $drank-blue-invert;
    color: $drank-blue
  }
}

.container {
  flex: 1 1 0
}

.container.image {
  > div {
    max-height: calc(100vh - 64px);
  }
}

.layout-root {
  height: calc(100vh - 64px);
  margin: 32px;
  justify-content: center;

  @include tablet() {
    flex-direction: row;
    display: flex;
  }

  @include desktop() {
    flex-direction: row;
    display: flex;
  }
}

.layout-child-root {
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  display: flex;
  margin-top: 16px;

  section {
    flex: 1 1 0;
  }

  @include tablet() {
    margin-top: 0;

    section {
      max-height: 100vh;
      overflow-y: auto;
      margin: 0 16px;
      flex: 1 1 0;
      @include scrollbar()
    }
  }

  @include desktop() {
    margin-top: 0;

    section {
      max-height: 100vh;
      overflow-y: auto;
      margin: 0 16px;
      flex: 1 1 0;
      @include scrollbar()
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  &.container {
    text-align: center;
  }

  &_logo {
    max-width: 150px;
    padding: 16px;

    @include tablet() {
      max-width: 300px;
      padding: 0;
    }

    @include desktop() {
      max-width: 300px;
      padding: 0;
    }
  }

  &_content {
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    @include tablet() {
      flex-direction: row;
    }

    @include desktop() {
      flex-direction: row;
    }
  }

  &_menu {
    display: flex;
    width: 100vw;

    @include tablet() {
      width: 70px;
      margin-left: 16px;
      align-items: flex-end;
      text-align: left;
    }

    @include desktop() {
      width: 70px;
      margin-left: 16px;
      align-items: flex-end;
      text-align: left;
    }

    div {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
      padding: 0 16px 16px 16px;
      flex-wrap: wrap;

      @include tablet() {
        flex-direction: column;
        padding: 0;
      }

      @include desktop() {
        flex-direction: column;
        padding: 0;
      }
    }
  }

  &_item {
    margin: 8px;
    font-size: 18px;
  }

  &_item.active {
    font-family: $font-accent;
    font-size: 16px;
  }
}

.wear {
  &_caption {
    h2 {
      max-width: 250px;
      font-size: 14px;
      font-style: italic;
      margin: 16px 0;
    }

    p {
      max-width: 250px;
      font-size: 14px;
      margin: 0 0 48px 0;
      text-align: justify;
    }
  }
}

.contact-form {
  form {
    width: 100%;

    .field {
      margin-top: 16px;
      width: 100%;
      max-width: 400px;

      label {
        width: 100%
      }

      .control {
        width: 100%;

        input {
          margin-top: 8px;
          width: 100%;
          box-sizing: border-box;
          font-family: $font-body;
          font-size: 16px;
          padding: 8px;
        }

        textarea {
          margin-top: 8px;
          width: 100%;
          resize: none;
          box-sizing: border-box;
          height: 150px;
          font-family: $font-body;
          font-size: 16px;
          padding: 8px;
        }
      }
    }
  }
}

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;

  li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}

// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width-image {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.navbar-item .icon {
  color: $primary // Override for use of svg's from https://simpleicons.org/
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.navbar-brand .navbar-item.logo {
  padding: 0 1rem;
}

.navbar-item img {
  max-height: none !important;
}